<div class="container">

  <div class="title">
    <div fxLayout="row" class="title-content">
    <p>MEDI</p><p style="color: blue;">BOT</p>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div class="left-bar"></div>

    <div class="main-content">

      <div class="initial-content" *ngIf="!chatInitiated">
        <div class="initial-box" (click)="getStarted()">Talk to MediBot</div>
      </div>
      <div class="chat-container" *ngIf="chatInitiated">

        <div class="google-suggestion" *ngIf="googleFindContent.length > 0">
          <span class="material-symbols-outlined pointer"
                (click)="showGoogleFinds(false)"
                [ngStyle]="googleFinds.indexOf(googleFindContent[0]) > 0 ? {'color': 'blue' } : {'color': '#0000ff42' }">
arrow_back_ios
</span>
        <ng-container *ngFor="let find of googleFindContent">
          <div class="google-data">
            <div class="data-top">
              <div class="name overflow-ellipsis pointer">{{find['Name']}}</div>
              <div class="hidden-name">{{find['Name']}}</div>
              <div class="rating">
                <div><span class="material-symbols-outlined star">grade</span></div>
                <div class="rating-value pointer">{{find['Rating']}} </div>
                <div class="hidden-rating">Hospital Ratings</div>
                <div class="review-count overflow-ellipsis pointer" > ({{find['ReviewCount']}})</div>
                <div class="hidden-review-count">Google Reviews</div>
              </div>
            </div>

            <div class="data-middle overflow-ellipsis">{{find['Address']}}</div>
            <div class="time-container">
              <div class="open"><span style="color:green">Open</span> {{find['Open']}}</div>
              <div class="close"><span style="color:red">Close</span> {{find['Close']}}</div>
            </div>
            <div class="data-bottom">
              <div class="data-bottom-left">
                <div class="phone-icon"><span class="material-symbols-outlined">call</span></div>
                <div class="phone-number">{{find['Phone']}}</div>
              </div>
              <div class="Direction" (click)="getDirection(find['MapDirection'])">
                <div class="direction-link">Directions</div>
                <div class="direction-icon"><span class="material-symbols-outlined">assistant_direction</span></div>
              </div>
            </div>
          </div>
        </ng-container>
          <span class="material-symbols-outlined pointer"
                (click)="showGoogleFinds(true)"
                [ngStyle]="googleFinds.length > googleFinds.indexOf(googleFindContent[2]) + 1 ? {'color': 'blue' }: {'color': '#0000ff42'}">
arrow_forward_ios
</span>
        </div>

        <ng-container *ngFor="let chatmessage of messagePrompt.reverse(); let idx=index">

          <div class="gpt-content" *ngIf="chatmessage.gptMessage">
            <div class="gpt-box">
              <span class="material-symbols-outlined avatar">smart_toy</span>
              {{chatmessage.message}}
            </div>
          </div>
          <div class="chat-content" *ngIf="!chatmessage.gptMessage">
            <div class="chat-box">
              <span class="material-symbols-outlined avatar" style="color: blue">account_circle</span>
              {{chatmessage.message}}
            </div>
          </div>
        </ng-container>
      </div>

      <div class="suggestion-container" *ngIf="typeOfMessage === 1">
        <div class="suggestion pointer" (click)="onSuggestion(1)">Do you want find providers based on the location</div>
        <div class="suggestion pointer" (click)="onSuggestion(2)">Continue again with problems</div>
        <div class="suggestion pointer" (click)="onSuggestion(3)">End the conversation</div>
      </div>

      <div class="content-footer">
        <form [formGroup]="chatBox" class="input-container" (ngSubmit)="onSubmit()">
          <textarea formControlName="chatPrompt"
                    placeholder="Type your answer"
                    maxlength="5000"
                    (keydown.enter)="onSubmit()"></textarea>
          <span class="material-symbols-outlined send-btn pointer" (click)="onSubmit()">send</span>
        </form>
        <div style="opacity: 0.5">Powered by <strong>Ideas2IT</strong></div>
      </div>
    </div>

    <div class="right-bar"></div>
  </div>
</div>
