<div class="container">

  <div class="title">
    <div fxLayout="row" class="title-content">
    <p>MEDI</p><p style="color: blue;">BOT</p>
    </div>
  </div>

  <div fxLayout="row" class="content">
    <div class="left-bar"></div>

    <div class="main-content">

      <div class="initial-content" *ngIf="!chatInitiated">
        <div class="initial-box" (click)="getStarted()">Lets get Started</div>
      </div>
      <div class="chat-container" *ngIf="chatInitiated">

        <div class="google-suggestion">
        <ng-container *ngFor="let find of googleFinds">
          <div class="google-data">
            <div class="data-top overflow-ellipsis">{{find['Name']}}</div>
            <div class="data-middle overflow-ellipsis">{{find['Address']}}</div>
            <div class="time-container">
              <div class="open">Open {{find['Open']}}</div>
              <div class="close">Close {{find['Close']}}</div>
            </div>
            <div class="data-bottom">
              <div class="data-bottom-left">
                <div class="phone-icon"><span class="material-symbols-outlined">call</span></div>
                <div class="phone-number">{{find['Phone']}}</div>
              </div>
              <div class="Direction">
                <div class="direction-link">Directions</div>
                <div class="direction-icon"><span class="material-symbols-outlined">assistant_direction</span></div>
              </div>
            </div>
          </div>
        </ng-container>
        </div>

        <ng-container *ngFor="let chatmessage of messagePrompt.reverse(); let idx=index">

          <div class="gpt-content" *ngIf="chatmessage.gptMessage">
            <div class="gpt-box">
              <span class="material-symbols-outlined avatar">smart_toy</span>
              {{chatmessage.message}}
            </div>
          </div>
          <div class="chat-content" *ngIf="!chatmessage.gptMessage">
            <div class="chat-box">
              <span class="material-symbols-outlined avatar">account_circle</span>
              {{chatmessage.message}}
            </div>
          </div>
        </ng-container>
      </div>

      <div class="suggestion-container" *ngIf="typeOfMessage === 1">
        <div class="suggestion" (click)="onSuggestion(1)">Do you want find providers based on the location</div>
        <div class="suggestion" (click)="onSuggestion(2)">Continue again with problems</div>
        <div class="suggestion" (click)="onSuggestion(3)">End the conversation</div>
      </div>

      <div class="content-footer">
        <form [formGroup]="chatBox" class="input-container" (ngSubmit)="onSubmit()">
          <textarea formControlName="chatPrompt"
                    placeholder="Type your answer"
                    maxlength="5000"
                    (keydown.enter)="onSubmit()"></textarea>
          <span class="material-symbols-outlined send-btn" (click)="onSubmit()">send</span>
        </form>
      </div>
    </div>

    <div class="right-bar"></div>
  </div>
</div>
