
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f9faf9;
  font-family: sans-serif;
}

.title {
  background-color: #e0e0e05c;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 20px -10px darkgrey;
}

.title-content {
  align-items: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 600;
}

.content {
  height: 90%;
  width: 100%;
  justify-content: space-between;
}

.left-bar {
  width: 5%;
  height: 100%;
  background-color: #3f51b538;
  border-radius: 0px 50px 50px 0px;
}

.main-content {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.chat-container {
  height: 80%;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column-reverse;
  overflow: auto;
}
.input-container {
  height: 30%;
  width: 90%;
  border-radius: 20px;
  border-style: solid;
  display: flex;
  border-color: #80808066;
  padding: 0.5rem;
  background-color: white;

}

.chat-box {
  width: max-content;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 0.8rem;
  border-style: solid;
  border-color: #80808094;
  border-width: thin;
  background-color: white;
  word-wrap: break-word;
  max-width: 30rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.chat-content {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  padding: 0.5rem;
}

.gpt-content {
  padding-left: 4rem;
}
.chat-container::-webkit-scrollbar {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.data-middle::-webkit-scrollbar {
  width: 5em !important;
  cursor: pointer;
  text-size:14px;
}


.gpt-box {
  width: max-content;
  word-wrap: break-word;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 0.8rem;
  border-style: solid;
  border-color: #80808094;
  border-width: thin;
  background-color: #2a62f0;
  color: white;
  max-width: 30rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.google-data {
  height: 11rem;
  border-radius: 20px;
  /*background-color: beige;*/
  margin-right: 1rem;
  /*padding: 0.5rem;*/
  border-style: ridge;
  border-color: lightgrey;
  min-width: 30%;
  max-width: 30%;
}

.data-top {
  display:flex;
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #6495ed30;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.data-middle {
  height: 5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #fafafab3;
  border-bottom-style: ridge;
  white-space: break-spaces !important;
  overflow: auto !important;
}
.data-bottom {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #fafafab3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-style: ridge;
  border-top: 0.1px solid black;
}

.data-bottom-left {
  display:flex;
  border-right-style: ridge;
  width: 50%;
}
.google-suggestion {
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.avatar {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
textarea {
  border: none;
  width: 95%;
  position: relative;
  box-sizing: initial;
  resize: none;
}
.send-btn {
  color: blue;
}

textarea::placeholder {
}

textarea:focus {
  outline: none;
}


.content-footer {
  height: 20%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.right-bar {
  width: 5%;
  height: 100%;
  background-color: #8080805c;
  border-radius: 50px 0 0 50px;
}

.initial-content {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.initial-box {
  width: max-content;
  border-style: unset;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: cornflowerblue;
  opacity: 1;
  cursor: pointer;
  color:white;
}

.initial-box:hover {
  background-color: #3f51b5;
}

.suggestion-container {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-around;
  color:white;
}

.suggestion {
  width: max-content;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #3f51b5;
}

/*.chat-footer {*/
/*  height: 15%;*/
/*  width: 100%;*/
/*  display: flex;*/
/*  justify-content: space-evenly;*/
/*}*/

/*.example-form {*/
/*  width: 75%;*/
/*}*/
/*.chat-input {*/
/*  width: 100%;*/
/*}*/


.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Direction {
  display:flex;
}
.phone-number {
  margin-left: 0.4rem;
  margin-top: 0.5rem;
  cursor:pointer;
  color:blue;
  font-size:14px;
}
.phone-icon {
  margin-top: 0.2rem;
  color:blue;
}
.direction-link {
  margin-right:0.5rem;
  margin-top: 0.5rem;
  color:blue;
  cursor:pointer;
}

.direction-icon {
 margin-right: 1rem;
 margin-top: 0.4rem;
 color:blue;
}

.time-container {
  height:2rem;
  display:flex;
}
.open {
  width:50%;
  padding-left: 1rem;
  padding-top: 0.4rem;
}
.close {
  width:50%;
  padding-top: 0.4rem;
}
.name {
  width:60%;
  text-align:center;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 0.7rem;
}
.hidden-name {
  display:none;
}
.name:hover + .hidden-name {
  display: block;
  background-color:black;
  color:white;
  position: absolute;
  margin-top: -1.5rem;
}

.rating-value:hover + .hidden-rating {
  display: block;
}

.hidden-rating {
  display: none;
  background-color:black;
  color:white;
  position: absolute;
  margin-top: -1.5rem;
}
.review-count:hover + .hidden-review-count {
  display: block;
}

.hidden-review-count {
  display: none;
  background-color:black;
  color:white;
  position: absolute;
  margin-top: -1.5rem;
}

.rating-value {
margin-top:0.3rem;
}
.review-count {
margin-top:0.3rem;
}
.rating {
  width:40%;
  display:flex;
  justify-content:space;
  padding-right: 2rem;
  margin-right: -3.5rem;
  padding-top:0.25rem;
}
.star {
  color:#f5aa42;
}
.pointer {
 cursor:pointer;
}
